<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<title>{% block title %}{% endblock %}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/public/favicon.ico">
		
			
		<script type="text/javascript" src="/public/js/jquery.min.js"></script>
		<script type="text/javascript" src="/public/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/public/js/base/base.js"></script>
		<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/jquery-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/base/base.css" />
		{% endblock %}
	</head>
	<body>
		<!-- Navbar -->
		<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		          <span class="icon-toggle"></span>
		      </button>
		      <a class="navbar-title navbar-link" href="#">Jinglr</a>
		    </div>
		    <div class="navbar-collapse collapse">
		      <ul class="nav navbar-nav navbar-right">
		        <form action="http://jinglr-music.appspot.com/search" method="GET" class="navbar-form navbar-left" role="search" >
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
		      </form>
		        <li class="dropdown">
		          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
		            <i class="glyphicon glyphicon-user"></i> <span id="userWelcome">Guest</span><span class="caret"></span></a>
		          <ul id="g-account-menu" class="dropdown-menu" role="menu">
		            <li><a href="#">My Profile</a></li>
		            <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Login</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div>
		  </div>
		</div>
		<!-- /Navbar -->		
		<div class="container content"> {% block content %}{% endblock %}</div>
		<div class="container footer"> {% block footer %}{% endblock %}</div>
	</body>
<html>