{% extends "/templates/base.html" %}
{% block title %}Jinglr - Dashboard{% endblock %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="/public/js/dash/ajaxHandler.js"></script>
	<script type="text/javascript" src="/public/js/dash/dashHandler.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/dashboard/dashboard.css" />
	{% include "/templates/midiScripts.html" %}
{% endblock %}
{% block content %}
<!-- upper section -->
<div class="row">
	<div class="col-md-3">
		<!-- left -->
		<h3><i class="glyphicon glyphicon-briefcase"></i>My Tags</h3>
		
		<hr>
		<ul class="tag-list">
			
		</ul>
		<hr>
		<br/>
		<h3><i class="glyphicon"></i>Latest Jingles</h3>
		<table class="table table-striped" id="latestTable">
		<thead><th>Title</th><th>Preview</th></thead>
		<tbody>
		</tbody>
		</table>		
	</div><!-- /span-3 -->

	<div class="col-md-9">  	
		<!-- column 2 -->	
		<div id="dashTitle">
			<h3><i class="glyphicon glyphicon-dashboard"></i><span class="username">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>'s Dashboard</h3>
		</div>

		<hr>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 id="mysongstitle">My Songs</h4>
				<button type="button" id="create-jingle" class="btn btn-primary" data-toggle="modal" data-target="#createJingleModal">Create Jingle</button>
			</div>
			<div class="panel-body">
				<table class="table table-striped" id="ownedTable">
					<thead>
						<tr><th>Song Name</th><th>Owner</th><th>Tags</th><th>Genre</th><th>Created</th><th>Preview</th></tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div><!--/panel-body-->
		</div><!--/panel-->  

		<hr>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 id="mycontributionstitle">My Contributions</h4>
			</div>
			<div class="panel-body">
				<table class="table table-striped" id="collabTable">
					<thead>
						<tr><th>Song Name</th><th>Owner</th><th>Tags</th><th>Genre</th><th>Created</th><th>Preview</th></tr>
					</thead>
					<tbody></tbody>
				</table>
			</div><!--/panel-body-->
		</div><!--/panel-->

		<hr>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 id="myinvitationsheading">My Invitations</h4>
			</div>
			<div class="panel-body">
				<table class="table table-striped" id="inviteTable">
					<thead>
						<tr><th>Song Name</th><th>Owner</th><th>Tags</th><th>Genre</th><th>Created</th><th>Respond</th></tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div><!--/panel-body-->
		</div><!--/panel-->          
	</div><!--/col-->   
</div><!--/row-->	

<!-- Create Jingle Modal -->
<div class="modal fade" id="createJingleModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="createModalLabel">Create Jingle</h4>
			</div>
			<div class="modal-body">
				<form class="form" role="form" action="create a jingle" method="put" id="createjingleform">
					<div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" id="title-form" placeholder="My Jingle"/>
					</div>
					<div class="form-group">
						<label>Genre</label>				
						<input class="form-control" type="text" id="genre-form" placeholder="Grunge"/>
					</div>
					<div class="form-group">
						<label>Tags</label><br>
						<input class="form-control" type="text" id="tags-form" placeholder="Awesomeness"/>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="createJingleButton">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- /upper section -->
{% endblock %}
