{% extends "/templates/base.html" %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="/public/js/dash/ajaxHandler.js"></script>
	<script type="text/javascript" src="/public/js/dash/dashHandler.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
{% endblock %}
{% block content %}
<!-- upper section -->
  <div class="row">
	<div class="col-sm-3">
      <!-- left -->
      <h3><i class="glyphicon glyphicon-briefcase"></i>Favourite Tags</h3>
      <hr>
      
      <ul class="nav nav-stacked">
        <li><a href="javascript:;"><i class="glyphicon glyphicon-flash"></i> Fast</a></li>
        <li><a href="javascript:;"><i class="glyphicon glyphicon-flash"></i> Trumpet</a></li>
        <li><a href="javascript:;"><i class="glyphicon glyphicon-flash"></i> Short</a></li>
      </ul>
      
      <hr>
      
  	</div><!-- /span-3 -->
    <div class="col-sm-9">  	
      <!-- column 2 -->	
       <div id="dashTitle"><h3><i class="glyphicon glyphicon-dashboard"></i><span id="userHeader">TestUser's Dashboard</h3></span></div>
            
       <hr>
      
	   <div class="row">
            <!-- center left-->	
         	<div class="col-md-7">

              	<div class="panel panel-default">
                  	<div class="panel-heading"><h4>My Songs</h4></div>
                  <div class="panel-body">
                  <table class="table table-striped" id="ownedTable">
			        <thead>
			          <tr><th>Song Name</th><th>Owner</th><th>Tags</th><th>Genre</th></tr>
			        </thead>
			        <tbody>
    			    </tbody>
     			  </table>
                  </div><!--/panel-body-->
              	</div><!--/panel-->  

            	<hr>

              	<div class="panel panel-default">
                  	<div class="panel-heading"><h4>My Contributions</h4></div>
                  	<div class="panel-body">
                  		<table class="table table-striped" id="collabTable">
			        		<thead>
			          			<tr><th>Song Name</th><th>Owner</th><th>Tags</th><th>Genre</th></tr>
			        		</thead>
			        		<tbody>
    			    		</tbody>
     			  		</table>
                  	</div><!--/panel-body-->
              	</div><!--/panel-->        
          	</div><!--/col-->   
       	</div><!--/row-->
  	</div><!--/col-span-9-->
</div><!--/row-->	
  <!-- /upper section -->

{% endblock %}
