<!DOCTYPE html>
<head>
	<title>Protoype editor page</title>
	<script type="text/javascript" src="../public/js/jquery.min.js"></script>
	<script type="text/javascript" src="../public/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../public/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../public/css/jquery-ui.min.css" />
</head>
<body>
	<div class="container">
		<div class="editor">
			<div class="palette">

			</div>
			<div class="canvas">
		</div>

	</div>

</body>