<!DOCTYPE html>
<head>
	<title>Protoype editor page</title>
	<script type="text/javascript" src="/_ah/channel/jsapi"></script><!-- needs to be before code using channels -->
	<script type="text/javascript" src="../../public/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../public/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../public/js/adler32.js"></script>
	<script type="text/javascript" src="../../public/js/canonical-json.js"></script>

	<script src="../../public/js/editor/MIDI/AudioDetect.js" type="text/javascript"></script>
	<script src="../../public/js/editor/MIDI/LoadPlugin.js" type="text/javascript"></script>
	<script src="../../public/js/editor/MIDI/Plugin.js" type="text/javascript"></script>
	<script src="../../public/js/editor/MIDI/Player.js" type="text/javascript"></script>
	<script src="../../public/js/editor/MIDI/stream.js"></script>
	<script src="../../public/js/editor/MIDI/midifile.js"></script>
	<script src="../../public/js/editor/MIDI/replayer.js"></script>
	<script src="../../public/js/editor/MIDI/Base64.js" type="text/javascript"></script>
	<script src="../../public/js/editor/MIDI/base64binary.js" type="text/javascript"></script>

	<script src="../../public/js/editor/MIDI/DOMLoader.XMLHttp.js"></script>

	<link href="../../public/css/editor/MIDIPlayer.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="../../public/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../public/css/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="../../public/css/editor/edit.css" />
</head>
<body>
	<div class="auth">{{auth_bar|safe}}</div>
	<div id="songid" class="no-display">{{song_id}}</div>
	<div class="container">
		<h1>Jinglr editor page (WIP)</h1>
		<br/>
		<div class="editor bordered">
			<div class="row top-row">
				
				<div class="bordered top-bar max-height">
					<div class="col-md-6">
						<button class="btn btn-primary add-bar-button">Add bar</button>
						<label for="tempo-select">Tempo :</label>
						<select  id="tempo-select">
							<option value="60">60 bpm</option>
							<option value="70">70 bpm</option>
							<option value="80">80 bpm</option>
							<option value="90">90 bpm</option>
							<option value="100">100 bpm</option>
							<option value="110">110 bpm</option>
							<option value="120">120 bpm</option>
							<option value="130">130 bpm</option>
							<option value="140">140 bpm</option>
						</select>
					</div>
					<div class="col-md-3">
						<div class="progress">
							<div class="progress-bar">No tune compiled</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="playback-panel">
								
							<button class="play-button"><span class="glyphicon glyphicon-play"></span></button>
							<button class="pause-button"><span class="glyphicon glyphicon-pause"></span></button>
							<button class="stop-button"><span class="glyphicon glyphicon-stop"></span></button>
							<button class="compile-button">Compile tune</button>
						</div>	
					</div>
				</div>
				
			</div>
			<div class="row main-row">
				<div class="col-md-2 no-right-padding max-height">
					<div class="palette bordered">
						<div class="note note-crotchet"></div>
						<div class="note note-quaver"></div>
						<div class="note-bin"></div>
						<button class="btn btn-primary add-instrument">Add Instrument</button>
						<button class="btn btn-primary change-instrument">Change Instrument</button>
					</div>
				</div>
				<div class="col-md-10 no-left-padding max-height"><div class="canvas bordered" role="tabpanel"></div></div>
			</div>
		</div>

	</div>

	<div class="instrument-dialog no-display">
		<div class="dialog-content">
			
			<form>
				<label for="instrument-class">Instrument class...</label>
				<select id="instrument-class">
					<option value="0">Piano</option>
					<option value="1">Chromatic Percussion</option>
					<option value="2">Organ</option>
					<option value="3">Guitar</option>
					<option value="4">Bass</option>
					<option value="5">Strings</option>
					<option value="6">Ensemble</option>
					<option value="7">Brass</option>
				</select>
				<label for="instrument-choice">Choose instrument</label>
				<select id="instrument-choice"></select>
			</form>
	<script type="text/javascript" src="../../public/js/editor/midiHandler.js"></script>
	<script type="text/javascript" src="../../public/js/editor/ajaxHandler.js"></script>
	<script type="text/javascript" src="../../public/js/editor/channelHandler.js"></script>
	<script type="text/javascript" src="../../public/js/editor/editorHandler.js"></script>
</body>