<!DOCTYPE html>
<head>
	<title>Protoype editor page</title>
	<script type="text/javascript" src="/_ah/channel/jsapi"></script><!-- needs to be before code using channels -->
	<script type="text/javascript" src="/public/js/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/jquery-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/edit.css" />
</head>
<body>
	<div class="auth">{{auth_bar|safe}}</div>
	<div class="container">
		<h1>Yeah this is just me having a play around with making an editor</h1>
		<br/>
		<div class="editor">
			<div class="palette col-md-2">
				<div class="note note-crotchet"></div>
				<div class="note note-quaver"></div>
				<div class="note-bin"></div>
			</div>
			<div class="canvas col-md-10">
		</div>

	</div>
	<script type="text/javascript" src="/public/js/channelHandler.js">
	<script type="text/javascript" src="/public/js/editorHandler.js"></script>
</body>