<script src="/public/js/editor/MIDI/AudioDetect.js" type="text/javascript"></script>
<script src="/public/js/editor/MIDI/LoadPlugin.js" type="text/javascript"></script>
<script src="/public/js/editor/MIDI/Plugin.js" type="text/javascript"></script>
<script src="/public/js/editor/MIDI/Player.js" type="text/javascript"></script>
<script src="/public/js/editor/MIDI/stream.js"></script>
<script src="/public/js/editor/MIDI/midifile.js"></script>
<script src="/public/js/editor/MIDI/replayer.js"></script>
<script src="/public/js/editor/MIDI/Base64.js" type="text/javascript"></script>
<script src="/public/js/editor/MIDI/base64binary.js" type="text/javascript"></script>

<script src="/public/js/editor/MIDI/DOMLoader.XMLHttp.js"></script>
<link href="/public/css/editor/MIDIPlayer.css" rel="stylesheet" type="text/css" />
<script src="/public/js/staticPlayer.js"></script>