{% extends "/templates/base.html" %}
{% block title %}Jinglr - Profile{% endblock %}
{% block head %}
	{{ super() }}
  <script type="text/javascript" src="/public/js/profile/ajaxHandler.js"></script>
  <script type="text/javascript" src="/public/js/profile/profileHandler.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/dashboard/dashboard.css" />
  {% include "/templates/midiScripts.html" %}
{% endblock %}
{% block content %}
<div id="profileTitle">
  <h3><i class="glyphicon glyphicon-dashboard"></i><span class="profile-username">Placeholder</span>'s Profile</span></h3>
</div>

<hr>

<div class="row">
	<div class="col-md-4">
		

	<div class="profile-read">
		<div class="bio-read">
			<h2>About me</h2>
			<p id="bio-read-content"></p>
		</div>
		<div class="tags-read">
			<h2>My tags</h2>
			<div id="tags-area"></div>
		</div>	

	</div>
	<button class="btn-primary btn edit-button profile-edit-button no-display">Edit profile</button>

	<div class="profile-edit no-display">
		<form id="profile-update">
   		<label for="username-form">Username</label><br>
  		<textarea id="username-form" readonly rows="1" cols="40"></textarea><br>
   		<label for="bio-form">Bio</label><br>
  		<textarea id="bio-form" readonly rows="4" cols="40"></textarea><br>
	  	<label for="tags-form">Tags</label><br>
		  <textarea id="tags-form" readonly rows="4" cols="40"></textarea><br>
      <button  id="profile-update-submit" class="btn btn-primary">Update</button>
		</form>	
	</div>

	</div><!-- /span-3 -->

	<div class="col-md-8">  	
		<!-- column 2 -->			
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 id="profilesongstitle"><span class="profile-username">Placeholder</span>'s Songs</h4>
			</div>
			<div class="panel-body">
				<table class="table table-striped" id="ownedTable">
					<thead>
						<tr><th>Song Name</th><th>Owner</th><th>Tags</th><th>Genre</th><th>Preview</th></tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div><!--/panel-body-->
		</div><!--/panel-->  

		<hr>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 id="profilecontributionstitle"><span class="profile-username">Placeholder</span>'s Contributions</h4>
			</div>
			<div class="panel-body">
				<table class="table table-striped" id="collabTable">
					<thead>
						<tr><th>Song Name</th><th>Owner</th><th>Tags</th><th>Genre</th><th>Preview</th></tr>
					</thead>
					<tbody></tbody>
				</table>
			</div><!--/panel-body-->
		</div><!--/panel-->         
	</div><!--/col-->   
</div><!--/row-->

<div class="modal fade" id="unknown-profile-modal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Profile not found</h4>
          </div>
          <div class="modal-body">
            <p>This user does not exist</p>
          </div>
          <div class="modal-footer">
            <button type="button" id="unknown-profile-button" class="btn btn-default">Back</button>
          </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
