{% extends "/templates/base.html" %}
{% block title %}Jinglr - Search{% endblock %}
{% block head %}
	{{ super() }}
  <script type="text/javascript" src="/public/js/search/ajaxHandler.js"></script>
  <script type="text/javascript" src="/public/js/search/searchHandler.js"></script>
  {% include "/templates/midiScripts.html" %}
{% endblock %}
{% block content %}
<!-- Main -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Search Results</h4>
    </div>
    <div class="panel-body">
      <table class="table table-striped" id="results">
        <thead>
          <tr>
            <th><a class="sort-link" id="sort-title">Song Name</a></th>
            <th><a class="sort-link" id="sort-author">Owner</a></th>
            <th>Tags</th>
            <th><a class="sort-link" id="sort-genre">Genre</a></th>
            <th><a class="sort-link" id="sort-date_created">Created</a></th>
            <th>Preview</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div><!--/panel-body-->
  </div><!--/panel-->
  <nav>
      <li><button id="more-results" class="btn btn-default">More Results</button>
  </nav>
</div><!--/row-->
<!-- /upper section -->
{% endblock %}
