#mysongstitle{
	display: inline-block;
	margin-right:10px;
}
#create-jingle{
	display: inline-block;
	vertical-align:top;
	float: right;
}
.accept-button{
	margin-right:5px;
}

.invite-response-button{
	float: right;
	display: inline-block;
}