#createjinglediv{ 
    opacity:0.92; 
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

#mysongstitle{
	display: inline-block;
	margin-right:10px;
}
#createjinglebutton{
	display: inline-block;
	float: right;
}