body {
  background-color: #eee;
}

.navbar-title {
  font-size:32px;
}

.navbar-title:hover {
  text-decoration:none;
}

i {
  font-size:18px;
}

.nav>li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41,200,41,0.75);
  color: rgb(255,255,255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.navbar-static-top {
  margin-bottom:20px;
}

footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.loadingmodal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/public/img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingmodal {
    display: block;
}

.inline {
  display: inline;
}

span.tab {
  padding-left: 5em;
}

div.title-branding {
  background-color: rgb(16,16,16);
}

div.title-branding h1 {
  font-size: 60px;
  color : white;
  margin-top: 0em;
  margin-left: 1em;
}