div {
	border: 1px solid black;
}

.editor {
	height : 500px; /*This will need to be changed later as just hard coded */
}

.palette {
	height : 100%;
}

.canvas {
	height: 100%;
}

.canvas .tab-content {
	height: 90%;
}

.canvas .tab-pane {
	height : 100%;
	overflow-y : hidden;
	overflow-x : scroll;
	float : left;
	white-space: nowrap;
	width: 100%;
	display: block;
}

.nav-tabs li a {
	border: 1px solid black;
}

.note-crotchet {
	background-image: url('../img/quarter_note.png');
}

.note { 
	height : 75px;
	width : 75px;
}

.note-quaver {
	background-image: url('../img/eighth_note.png');
}

.note-bin {
	background-image : url('../img/bin.png');
	height: 128px;
	width : 128px;
}

.pitch {
	width : 100%;
	height : 6.2%;
	position:  : relative;

}

.bar {
	width : 20%;
	height : 100%;
	display : inline-block;
	position : relative;

}

.preview {
	height : inherit;
	border : 1px dotted black;
	background-color: gray;
}

.music-note {
	height : 100%;
	border : 1px solid black;
	background-color: green;
	position : absolute;
	height : inherit;
}

.no-display {
	visibility : hidden;
}