/* CSS for Jinglr splash page */

/* General css and title bar */
div.content {
  background-color: #668FFE;
}

div.title-branding {
  background-color: rgb(16,16,16);
}

div.title-branding h1 {
  font-size: 60px;
  color : white;
  margin-top: 0em;
  margin-left: 0.5em;
}

/* Sash row consisting of stave image and strapline */
div.sash {
  background-color: #668FFE;
  height : 100%;
}

.stave {
  float : left;
}

/*Strapline is styled to appear on top of the stave image but offset to the right of the page */
.strapline {
  display : inline;
  float : right;
  position : absolute;
  right : 0px;
  z-index: 20; /*appear above the image */
  background-color: #668FFE;
  margin-top: 2em;
  margin-right: 2em;
  padding: 0.5em;
  border-radius: 5px;
}

.strapline-inner {
  display : inline;
}

/* Colour alternate rows of strapline white and black */
div.strapline h2:nth-child(odd) {
  color : black;
  font-size: 40px;
}

div.strapline h2:nth-child(even) {
  color : white;
  font-size: 40px;
}

/* Convenience class for spacing the words of the strapline */
span.tab {
  padding-left: 2em;
}

/* Styling to make the button appear centered horizontally below the text */
button.dashboard-link {
  position: relative;
  left: 40%;
}

h1.splash-title {
  display: inline;
  float : left;/* display inline with search bar and to the left */
}

/* line up the below with title */
.search-container form div.form-group {
  margin-top: 0.9em;
}

.search-container button {
  margin-top: 1.5em;
}