
.editor {
	height : 500px; /*Set size required to render inner elements in correct positions */
}

.palette {
	height : 100%;
	border-left : none;
	border-bottom: none;
}

.canvas {
	height: 100%;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.canvas .tab-content {
	height: 80%;
}

.canvas .tab-pane {
	height : 100%;
	
	overflow-x : scroll;
	float : left;
	white-space: nowrap;
	width: 100%;
	overflow-y : scroll;
}

.nav-tabs li a {
	border: 1px solid black;
	height : 100%;
}

.nav-tabs li {
	width : 16%;
	height : 80px;/* Set height large enough to accomodate all instrument names */
	padding-bottom : 0px;
}

.note-bin {
	background-color: white;
}

.pitch {
	width : 100%;
	height : 8%;
	position : relative;
	border : 1px solid black;
}

.bar {
	width : 20%;
	height : 100%;
	display : inline-block;
	position : relative;
	vertical-align:  top;
}

.song-title {
	display: inline;
	vertical-align: middle;
}

.float-right {
	float : right;
}

button.download-button {
	margin-top: 0.5em;
}

.key {
	width : 20%;
	height : 100%;
	display : inline-block;
	position : relative;
	overflow: visible;
	z-index: 20;
	vertical-align: top;
}

.key-pitch {
	width : 100%;
	height : 8%;
	position : relative;
	background-color: red;
	overflow: hidden;
	border : 1px solid black;
	color : white;
}

.preview {
	height : inherit;
	border : 1px dotted black;
	background-color: gray;
	height : 100%;
}

.music-note {
	height : 100%;
	border : 1px solid black;
	background-color: green;
	position : absolute;
}

.no-display {
	visibility : hidden;
}

.ui-resizable-handle {
	border : none;
}

.bordered {
	border : 2px solid black;
}

.half-spaced {
	margin-top : 0.5em;
	margin-left: 0.5em;
}

.horizontal-centered {
	margin-left: auto;
	margin-right: auto;
	display : block;
	white-space: normal;
}

img { /*provide border and space evenly horizontally */
	border : 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

.no-right-padding {
	padding-right: 0px;
}

.no-left-padding {
	padding-left : 0px;
}

.top-bar .playback-panel {
	padding-top : 0.5em;
}

.top-bar h2 {
	display : inline;
	vertical-align: middle;
}

.top-row {
	height : 10%;
}

.main-row {
	height : 90%;
} 

.max-height {
	height : 100%;
}

.tab-content { 
	overflow: hidden;
}

.progress {
	margin: 0.8em;
	height : 110%;
}

.progress-bar {
	width : 100%;
}

.control-buttons {
	padding : 0.5em;
	padding-left: 1em;
}

.remove-tab-button {
	margin-left: 0.2em;
	float: right;
}

td {
	margin-top: 5px;
	margin-right: 5px;
	padding-right: 5px;
	padding-top: 5px;
}