
.editor {
	height : 500px; /*This will need to be changed later as just hard coded */
}

.palette {
	height : 100%;
}

.canvas {
	height: 100%;
	
}

.canvas .tab-content {
	height: 90%;
}

.canvas .tab-pane {
	height : 100%;
	
	overflow-x : scroll;
	float : left;
	white-space: nowrap;
	width: 100%;
	display: block;
	overflow-y : scroll;
}

.nav-tabs li a {
	border: 1px solid black;
}

.note-crotchet {
	background-image: url('../img/quarter_note.png');
}

.note { 
	height : 75px;
	width : 75px;
}

.note-quaver {
	background-image: url('../img/eighth_note.png');
}

.note-bin {
	background-image : url('../img/bin.png');
	height: 128px;
	width : 128px;
}

.pitch {
	width : 100%;
	height : 6.2%;
	position : relative;

}

.bar {
	width : 20%;
	height : 100%;
	display : inline-block;
	position : relative;
	vertical-align:  top;

}

.key {
	width : 20%;
	height : 100%;
	display : inline-block;
	position : relative;
	overflow: visible;
	z-index: 20;
	vertical-align: top;
}

.key-pitch {
	width : 100%;
	height : 6.2%;
	position : relative;
	background-color: red;
	overflow: hidden;
	
}

.preview {
	height : inherit;
	border : 1px dotted black;
	background-color: gray;
	height : 100%;
}

.music-note {
	height : 100%;
	border : 1px solid black;
	background-color: green;
	position : absolute;
}

.no-display {
	visibility : hidden;
}

.ui-resizable-handle {
	border : none;
}

.bordered {
	border : 1px solid black;
}

.no-right-padding {
	padding-right: 0px;
}

.no-left-padding {
	padding-left : 0px;
}

.top-bar .play-button {
	float : right;
	display : inline;
}

.top-bar h2 {
	display : inline;
	vertical-align: middle;
}